.background{background-image:url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/diwali-bg.png');height:30vh;background-repeat:no-repeat;background-size: cover;padding:20px;}
.h1{color:white;font-family: cursive;font-size: 20;font-weight:bold;}
.bottom{padding:20px;background-color: #e6f6ff;text-align:center;}
.card-container{background-color: white;text-align:center;padding:10px;height:160px;width:140px;margin:10px;border-radius:10px;}
.card-head{font-size:20px;font-weight: bold;}
.button{border-radius: 5px;background-color:dodgerblue;padding:10px;}
